<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>医疗问诊服务</title>
    <link rel="shortcut icon" href="assets/ico/logo_no.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="assets/css/pace.css"/>

    <!--jquery ui相关样式库-->
    <link rel="stylesheet" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.custom.css"/>
    <link rel="stylesheet" href="assets/css/jquery.gritter.css"/>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/font-awesome.css"/>

    <!-- text fonts -->
    <link rel="stylesheet" href="assets/css/ace-fonts.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-part2.css" class="ace-main-stylesheet"/>
    <![endif]-->

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-ie.css"/>
    <![endif]-->

    <!--jquery-ui样式库-->


    <!-- ace settings handler -->
    <script src="assets/js/ace-extra.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.js"></script>
    <![endif]-->
    <style>
        .my-navbar-brand {
            height: 45px;
            color: #ffffff;
            font-size: 24px;
            text-shadow: none;
            padding: 15px 5px;
        }

        .icon-animated-bell {
            display: inline-block;
            -moz-animation: ringing 2.0s infinite ease 1.0s;
            -webkit-animation: ringing 2.0s infinite ease 1.0s;
            -o-animation: ringing 2.0s infinite ease 1.0s;
            -ms-animation: ringing 2.0s infinite ease 1.0s;
            animation: ringing 2.0s infinite ease 1.0s;
            -moz-transform-origin: 50% 0%;
            -webkit-transform-origin: 50% 0%;
            -o-transform-origin: 50% 0%;
            -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        }
    </style>
    <script>
        function isIE() {
            if (!!window.ActiveXObject || "ActiveXObject" in window)
                return true;
            else
                return false;
        }

        if (isIE()) {
            alert("IE浏览器无法使用，请尝试切换其他浏览器。 如果你使用的是360，搜狗等浏览器。请切换至极速模式进行访问");
        }
    </script>
</head>
<body class="no-skin">
<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="index.html" class="my-navbar-brand">
                <img src="assets/img/logo.png" width="150px" height="45px">
            </a>
        </div>
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="dropdown-modal light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img id="user_headicon" height="100%" src="assets/images/avatars/avatar2.png" alt="个人头像">
                        <span class="user-info">
								<small>Welcome,</small>
								<span id="user_name"></span>
							</span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#page/common/profile">
                                <i class="ace-icon fa fa-cog"></i>
                                个人中心
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="updPassword()">
                                <i class="ace-icon fa fa-edit"></i>
                                修改密码
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="quit()">
                                <i class="ace-icon fa fa-power-off"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--主体内容-->
<div class="main-container ace-save-state" id="main-container">
    <script>
        try {
            ace.settings.loadState('main-container');
        } catch (e) {
        }
    </script>
    <div class="sidebar" id="sidebar">
        <ul class="nav nav-list" id="main_menu">
            <li class="">
                <a data-url="page/index" href="#page/index">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> 工作台 </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li th:style="${'display:'+((session.user.isadmin == null || !session.user.isadmin) ? 'none': 'block')}">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-heart"></i>
                    <span class="menu-text">医院系统</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a data-url="page/hospital/hospitallist" href="#page/hospital/hospitallist">
                            <i class="menu-icon fa fa-caret-right"></i>
                            医院管理
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li th:style="${'display:'+((session.user.isadmin == null && session.user.ishosadmin == null) ? 'none': 'block')}">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-user"></i>
                    <span class="menu-text">医生系统</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a data-url="page/doctor/doctorlist" href="#page/doctor/doctorlist">
                            <i class="menu-icon fa fa-caret-right"></i>
                            医生维护
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <!--医院管理员和超级管理员没有便民服务，只针对医生-->
            <li th:style="${'display:'+((session.user.isadmin == null && session.user.ishosadmin == null) ? 'block': 'none')}">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-users"></i>
                    <span class="menu-text">便民服务</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a data-url="page/reply/reply" href="#page/reply/reply">
                            <i class="menu-icon fa fa-caret-right"></i>
                            患者留言
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- #section:basics/sidebar.layout.minimize -->
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
               data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>

        <!-- /section:basics/sidebar.layout.minimize -->
        <script type="text/javascript">
            try {
                ace.settings.check('sidebar', 'collapsed')
            } catch (e) {
            }
        </script>
    </div>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>
                <ul id="breadcrumb" class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#page/index">首页</a>
                    </li>
                </ul>
            </div>

            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>
                    <div class="ace-settings-box clearfix" id="ace-settings-box">
                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <div class="pull-left">
                                    <select id="skin-colorpicker" class="hide">
                                        <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                        <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                        <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                        <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                    </select>
                                </div>
                                <span>&nbsp; Choose Skin</span>
                            </div>
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-navbar" autocomplete="off">
                                <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                            </div>
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-sidebar" autocomplete="off">
                                <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                            </div>
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-breadcrumbs" autocomplete="off">
                                <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                            </div>
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"
                                       autocomplete="off">
                                <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-add-container" autocomplete="off">
                                <label class="lbl" for="ace-settings-add-container">
                                    Inside
                                    <b>.container</b>
                                </label>
                            </div>
                        </div>
                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover"
                                       autocomplete="off">
                                <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact"
                                       autocomplete="off">
                                <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight"
                                       autocomplete="off">
                                <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!--内容体-->
                <div class="page-content-area" data-ajax-content="true">
                    <!--ajax动态加载资源展示位置-->
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery.js'>" + "<" + "/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='./assets/js/jquery1x.js'>" + "<" + "/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.js'>" + "<" + "/script>");
</script>
<script src="assets/js/bootstrap.js"></script>

<!-- ace scripts -->
<script src="assets/js/ace-elements.js"></script>
<script src="assets/js/ace.js"></script>

<!--用于提示框-->
<script src="assets/js/jquery.gritter.js"></script>

<script src="assets/js/bootbox.js"></script>
<!--表单校验-->
<script src="assets/js/jquery.validate.js"></script>

<script src="assets/js/jquery.alert.js"></script>

<script src="assets/js/jquery.tool.js"></script>

<script>
    var projectUrl = window.location.origin + "/dps";
    var userInfo;
    $(function () {
        //右侧消息窗体
        $('.modal.aside').ace_aside();

        //处理用户信息，及其菜单信息
        getUserInfo();

        //连接socket服务器
        // linkSocket();
    });


    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
            + " " + date.getHours() + seperator2 + date.getMinutes()
            + seperator2 + date.getSeconds();
        return currentdate;
    }

    //获取用户信息
    function getUserInfo() {
        myAjax("/user/getUserInfo", null, function (data) {
            if (data.code === 1) {
                console.log(data);
                userInfo = data.data;
                //设置菜单
                // createMenu(userInfo.roles);
                //设置用户相关信息
                $("#user_name").html(userInfo.docName);
                if (userInfo.docHeadimg) {
                    $("#user_headicon").attr("src", userInfo.docHeadimg);
                }
            } else {
                showErrorInfo(data.message);
            }
        })
    }


    /**
     *  创建菜单
     * @param roles
     */
    function createMenu(roles) {
        if (roles) {
            var menuInfos = {};
            //循环权限信息
            roles.forEach(function (data) {
                var menuList = data.menuList;
                if (menuList && menuList.length > 0) {
                    //循环主菜单
                    menuList.forEach(function (menu) {
                        if (!menuInfos[menu.mid]) {
                            menuInfos[menu.mid] = {
                                mid: menu.mid,
                                mname: menu.mname,
                                icon: menu.micon,
                                childIds: [],
                                childs: []
                            };
                        }
                        //循环子菜单
                        if (menu.childMenu && menu.childMenu.length > 0) {
                            menu.childMenu.forEach(function (child) {
                                if ($.inArray(child.mid, menuInfos[menu.mid].childIds) === -1) {
                                    menuInfos[menu.mid].childs.push(child);
                                    menuInfos[menu.mid].childIds.push(child.mid);
                                }
                            })
                        }
                    })
                }
            });
            //生成菜单
            createMenuDom(menuInfos);
        }
    }

    function createMenuDom(menuInfos) {
        var html = "";
        for (var i in menuInfos) {
            var menu = menuInfos[i];
            html += '<li>';
            html += '<a href="#" class="dropdown-toggle">';
            html += '<i class="menu-icon fa ' + menu.icon + '"></i>';
            html += '<span class="menu-text">';
            html += menu.mname;
            html += '</span>';
            html += '<b class="arrow fa fa-angle-down"></b>';
            html += '</a>';
            html += '<b class="arrow"></b>';
            if (menu.childs.length > 0) {
                html += '<ul class="submenu">';
                menu.childs.forEach(function (child) {
                    html += '<li>';
                    html += '<a href="#page/' + child.murl + '" data-url="page/' + child.murl + '">';
                    html += '<i class="menu-icon fa fa-caret-right"></i>';
                    html += child.mname;
                    html += '<b class="arrow"></b>';
                    html += '</a>';
                    html += '</li>';
                });
                html += '</ul>';
            }
            html += '</li>';
        }
        $("#main_menu").append(html);
    }

    //ajax请求函数
    function myAjax(url, param, success, error) {
        $.ajax({
            url: projectUrl + url,
            type: "POST",
            data: param,
            async: false,
            success: function (data, textStatus, response) {
                if (response.getResponseHeader("session_invalid") == "true") {
                    //说明session已经失效，那么直接返回登录要么
                    window.location.href = projectUrl + "/login.html"
                }
                success(data);
            },
            error: function (error) {
                if (error.status === 401) {
                    window.location.href = projectUrl + "/login.html"
                }
                //提示服务异常信息
                showErrorInfo("服务异常！请联系管理员进行解决");
            }
        })
    }

    //处理列表选择框
    function toSelectData(jsonStr, k1, k2) {
        var res = " : ";
        jsonStr.forEach(function (ele, index) {
            res += ";" + ele[k1] + ":" + ele[k2];
        });
        return res;
    }

    //提示基本信息
    function showInfo(msg, time) {
        $.gritter.add({
            title: '消息提示',
            text: msg,
            time: time ? time : 3000,
            class_name: 'gritter-info gritter-center gritter-light'
        })
    }

    function showSuccInfo(msg, time) {
        $.gritter.add({
            title: '提示',
            text: msg,
            time: time ? time : 5000,
            class_name: 'gritter-success  gritter-light'
        })
    }

    function showWarnInfo(warMsg, time) {
        $.gritter.add({
            title: '消息提示',
            text: warMsg,
            time: time ? time : 5000,
            class_name: 'gritter-warning gritter-center gritter-light'
        })
    }

    //提示错误
    function showErrorInfo(error, time, position) {
        $.gritter.add({
            title: '错误提示',
            text: error,
            time: time ? time : 6000,
            class_name: 'gritter-error gritter-' + (position ? position : "center") + ' gritter-light'
        });
    }

    function showNotification() {
        $.gritter.add({
            title: '消息提醒!',
            text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" class="blue">magnis dis parturient</a> montes, nascetur ridiculus mus.',
            sticky: false,
            time: '',
            class_name: 'gritter-light'
        });
    }

    //修改密码
    function updPassword() {
        bootbox.dialog({
            title: '修改密码',
            closeButton: false,
            message: '<form class="form-horizontal" id="validation-form" method="get">' +
            '<div class="form-group2">' +
            '<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="password">您的密码:</label>' +
            '<div class="col-xs-12 col-sm-9">' +
            '<div class="clearfix">' +
            '<input type="password" name="password" id="password" class="col-xs-12 col-sm-9" />' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="form-group2">' +
            '<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="newpassword">新密码:</label>' +
            '<div class="col-xs-12 col-sm-9">' +
            '<div class="clearfix">' +
            '<input type="password" name="newpassword" id="newpassword" class="col-xs-12 col-sm-9" />' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="form-group2">' +
            '<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="cfmpassword">确认新密码:</label>' +
            '<div class="col-xs-12 col-sm-9">' +
            '<div class="clearfix">' +
            '<input type="password" name="cfmpassword" id="cfmpassword" class="col-xs-12 col-sm-9" />' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</form>',
            buttons: {
                cancel: {
                    label: '取消',
                    className: 'btn-danger',
                    callback: function () {
                        //移除事件
                        $('#validation-form').unbind("validate");
                    }
                },
                ok: {
                    label: '确认',
                    className: 'btn-success',
                    callback: function () {
                        if (!$('#validation-form').valid()) {
                            return false;
                        } else {
                            var operState = true;
                            var data = $('#validation-form').serialize()
                            //请求后台修改密码
                            myAjax("/user/updPass", data, function (data) {
                                if (data.code === 1) {
                                    //说明操作成功
                                    showSuccInfo("操作成功！");
                                } else {
                                    //说明操作失败
                                    showErrorInfo(data.message);
                                    operState = false;
                                }
                            });
                            return operState;
                        }
                    }
                }
            }
        });

        //注册校验
        $('#validation-form').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                password: {
                    required: true,
                    remote: projectUrl + "/user/checkUserPass"
                },
                newpassword: {
                    required: true,
                    minlength: 4,
                    maxlength: 20,
                },
                cfmpassword: {
                    required: true,
                    equalTo: "#newpassword"
                }
            },
            messages: {
                password: {
                    required: "密码不能为空",
                    remote: "输入密码错误"
                },
                newpassword: {
                    required: "新密码不能为空",
                    minlength: "请输入4-20位密码"
                },
                cfmpassword: {
                    required: "确认密码不能为空",
                    equalTo: "两次输入密码不一致"
                },
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },
            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();
            },
            errorPlacement: function (error, element) {
                if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if (element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element.parent());
            },
            submitHandler: function (form) {
                console.log(form);
            },
            invalidHandler: function (form) {
            }
        });
    }

    //进入指定的url
    function toCustomUrl(url) {
        if (url.indexOf("#") === -1) {
            url = "#" + url;
        }
        var href = window.location.href;
        window.location.href = (href.substr(0, href.indexOf("#")) + url);
    }

    //退出登录
    function quit() {
        bootbox.confirm("确认退出系统?", function (result) {
            if (result) {
                window.location.href = projectUrl + "/loginOut";
            }
        });
    }

    function getUrlParms(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var hash = window.location.hash;
        var r = hash.substr(hash.indexOf("?") + 1).match(reg);
        if (r != null)
            return unescape(r[2]);
        return null;
    }

    //处理ajax异步加载失败事件,常见页面丢失
    var haserr = false;
    $('.page-content-area').on("ajaxloaderror", function (e, param) {
        //判断是否具有url,那么说明没有对应的html页面，那么进入404页，
        if (haserr) {
            return;
        }
        var response = param.res;
        if (response.status === 404) {
            haserr = true;
            setTimeout(function () {
                $(".page-content-area").ace_ajax('loadAddr', 'content/common/error-404.html', null, null);
            }, 200);
        } else if (response.status === 403) {
            haserr = true;
            setTimeout(function () {
                $(".page-content-area").ace_ajax('loadAddr', 'content/common/error-403.html', null, null);
            }, 200);
        } else {
            showErrorInfo("服务异常，请尝试刷新页面，如果无法解决，请联系管理员进行解决");
        }
    });
    $(".page-content-area").on("ajaxloaddone", function () {
        haserr = false;
    })
</script>
</body>
</html>